.container {
    display: flex;
    width: 100px;
    height: 100vh;
    flex: 1;
    background-color: #181818;
    padding: 20px;
    border-top-left-radius: 8px; /* Optional: To add some border radius to the items */
  }
  
  .panel {
    flex-grow: 1;
    background-color: lightgray;
    transition: background-color 0.2s ease;
  }
  
  .left-panel {
    background-color: #f2f2f2;
  }
  
  .right-panel {
    background-color: #e2e2e2;
  }
  
  .resizer {
    width: 5px;
    cursor: ew-resize;
    background-color: gray;
  }
  