.blueprintPlace {
  background-image: linear-gradient(#0f0f0f 1.5px, transparent 0),
    linear-gradient(90deg, #0f0f0f 1.5px, transparent 0),
    linear-gradient(#333 1.5px, transparent 0),
    linear-gradient(90deg, #333 1.5px, #262626 0);
  background-color: #262626;
  background-size: 200px 200px, 200px 200px, 25px 25px, 25px 25px;
  opacity: 1;

  display: table;
  z-index: -1;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px;
}

.test {
  height: 500px;
  width: 500px;
  background-color: #0f0f0f;
}
